[data-theme=dark] {
	--color-base: #ccc;
	--color-text: #a3adc2;
	--color-dim: #7585a3;
	--color-line: #29303d;
	--color-background: #000;
	--color-highlight: #1b1f28;
	--color-primary: #f45757;
	--color-primary-highlight: #f66f6f;
	--code-text: var(--color-base);
	--code-comment: grey;
	--code-token-1: #5ec4ff;
	--code-token-2: #d65cd6;
	--code-token-3: #75b3f0;
	--code-token-4: #52e081;
	--code-inserted: #8c9966;
	--code-deleted: #d16a47;
	--code-border: var(--color-line);
	--code-background: var(--color-highlight);
	--code-background-selection: hsla(0, 0%, 93%, .15);
	color-scheme: dark
}


:root {
	--color-highlight: transparent;
	--pagefind-ui-scale: 0.8;
	--pagefind-ui-background: none;
	--pagefind-ui-border-width: 2px;
	--pagefind-ui-primary: var(--color-text);
}
